@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=all);
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=all);*/

/* font-family: "gothamproregular"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamproregular/gothamproregular.eot");
    src: url("../fonts/gothamproregular/gothamproregular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamproregular/gothamproregular.woff") format("woff"),
    url("../fonts/gothamproregular/gothamproregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "gothamprobold"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamprobold/gothamprobold.eot");
    src: url("../fonts/gothamprobold/gothamprobold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamprobold/gothamprobold.woff") format("woff"),
    url("../fonts/gothamprobold/gothamprobold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* font-family: "gothamprolight"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothamprolight/gothamprolight.eot");
    src: url("../fonts/gothamprolight/gothamprolight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothamprolight/gothamprolight.woff") format("woff"),
    url("../fonts/gothamprolight/gothamprolight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* font-family: "gothampromedium"; */
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothampromedium/gothampromedium.eot");
    src: url("../fonts/gothampromedium/gothampromedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/gothampromedium/gothampromedium.woff") format("woff"),
    url("../fonts/gothampromedium/gothampromedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}



html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Gotham Pro";
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 300;
	/*min-width: 1024px;*/
    color: #4a4a4a;
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
    line-height: normal;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

.button {
    padding: 1.1rem 2.5rem;
    border: solid rgba(153, 153, 153, 0.3) 1px;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    transition: border-color 0.3s;
    color: #4a4a4a;
}

.button:hover {
    border-color: rgba(153, 153, 153, 1);
}

*[hidden] {
    display: none !important;
}


.content {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.content > .column {
    display: table-cell;
    vertical-align: top;
}

@media all and (min-width: 1400px) {
    .content {
        max-width: 1200px;
    }
}

page {
    background-color: #ffffff;
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
}

a {
    color: #FF7300;
    text-decoration: none;
}
