popup-dialog,
overlay {
	display: none;
}

overlay {
	position: fixed;
	z-index: 100;
	background-color: rgba(250,250,250,0.7);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

overlay.darker {
	background-color: rgba(33,33,33,0.7);
}

popup-dialog {
	z-index: 101;
	width: 35rem;
	background-color: #ffffff;
	position: fixed;
	/*display: block;*/
	left: 50%;
	top: 50%;
	margin-left: -175px;
	margin-top: -240px;
	box-sizing: border-box;
	padding: 4.5rem 4.5rem 0 4.5rem;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.18);
	text-align: center;
	font-size: 1.8rem;
	line-height: 2rem;
}

popup-dialog[style*="inline"] {
	display: block !important;
}

@media all and (max-height: 600px) {
	popup-dialog,
	overlay {
		display: none;
	}
	popup-dialog {
		position: relative;
		margin-top: 3rem !important;
		margin-bottom: 3rem !important;
		margin-left: auto;
		margin-right: auto;
		left: 0 !important;
		top: 0 !important;
		width: 90%;
		max-width: 35rem;
		/*display: block;*/
		z-index: 101;
	}

	body {
		position: static !important;
	}
	popup-dialog[style*="inline"] {
		display: block !important;
	}
}

popup-dialog#restore-dialog {
	padding-top: 3.5rem;
	font-size: 1.5rem;
	margin-top: -195px;
}

popup-dialog header {
	margin-bottom: 3.5rem;
	position: relative;
}

popup-dialog header img {
	display: block;
	margin: 0 auto;
}

popup-dialog header nav {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1rem;
	font-size: 1.2rem;
	line-height: 2rem;
}

popup-dialog footer {
	margin-left: -4.5rem;
	margin-right: -4.5rem;
	margin-top: 3rem;
}

popup-dialog footer input[type="submit"] {
	height: 8rem;
	width: 100%;
	background-color: #5ACC3A;
	color: #ffffff;
	/*font-size: 1.8rem;*/
	font-size: 1.8rem;
}

popup-dialog footer input[type="submit"][disabled] {
	background-color: #d2d2d2;
}

popup-dialog .field-input {
	margin: 1.5rem 0 1.5rem 0;
}

popup-dialog .field-input:last-of-type {
	margin-bottom: 5.5rem;
}

popup-dialog .field-input:first-of-type {
	margin-top: 3.5rem;
}

ul[server-fail] {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #F44A4A;
}

ul[server-fail] li:not(:last-child) {
	margin-bottom: 0.5rem;
}
