error-page {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 4rem 2rem;
	text-align: center;
	font-size: 1.8rem;
	line-height: 2rem;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.18);
	overflow: hidden;
}

error-page h2 {
	font-size: 2.4rem;
	line-height: 3rem;
}

error-page .error-code {
	font-size: 1.4rem;
}

error-page footer {
	margin-top: 6rem;
}

error-page footer button {
	-webkit-appearance: none;
	background-color: #5acc3a;
	height: 8rem;
    width: 100%;
    max-width: 20rem;
    color: #fff;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    outline: none;
    font-family: "Gotham Pro";
    line-height: 8rem;
    cursor: pointer;
    font-weight: 300;
    margin-top: 3rem;
}

@media all and (min-width: 800px) {
	error-page {
		z-index: 101;
		max-width: 75rem;
		position: fixed;
		left: 50%;
		top: 50%;
		margin-left: -37.5rem;
		margin-top: -22rem;
		text-align: left;
		padding: 7rem 9rem 5rem 9rem;
	}

	error-page header,
	error-page footer {
		float: left;
	}

	error-page header {
		margin-right: 5rem;
		width: 14rem;
	}
}

@media all and (max-height: 500px) {
	error-page {
		position: relative;
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
		margin-left: auto;
		margin-right: auto;
		left: 0 !important;
		top: 0 !important;
		z-index: 101;
	}

	error-page footer {
		margin-top: 3rem;
	}

	error-page footer button {
		margin-top: 0rem;
		height: 6rem;
		line-height: 6rem;
	}

	error-page header img {
		height: 8rem;
	}
}

error-page header {
	margin-bottom: 3.5rem;
	position: relative;
}

error-page header img {
	display: block;
	margin: 0 auto;
}
