

input[type="button"],
input[type="submit"] {
	border: none;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/*background-color: transparent;*/
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-family: "Gotham Pro";
	font-weight: 300;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"]{
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-family: inherit;

}

.field-input {
	margin-bottom: 1rem;
	position: relative;
	height: 5rem;
	border: solid #d7d7d7 1px;
	background-color: #ffffff;
}

.field-input label {
	pointer-events: none;
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	font-size: 1.8rem;
	padding: 0 1rem;
	box-sizing: border-box;
	transition: all 0.2s;
	white-space: nowrap;
}

.field-input input {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 5rem;
	padding: 0px 3rem 0 1rem;
	box-sizing: border-box;
	background-color: transparent;
	padding-top: 0rem;
	transition: all 0.2s;
	font-size: 1.6rem;
}

.field-input input:focus,
.field-input:not(.empty) input {
	padding-top: 2rem;
}

.field-input input:focus ~ label,
.field-input:not(.empty) input ~ label,
.field-input.error.empty input ~ label {
	transform-origin: 0% 0%;
	transform: scale(0.6666) translateY(0) translateX(0);
	left: 0;
	top: 0.875rem;
	justify-content: flex-start;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #969696;
}

.field-input note {
	display: block;
	text-align: right;
	margin-top: 0.875rem;
}

.field-input note a {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.field-input toggle-input-type {
	width: 4rem;
	height: 4rem;
	display: block;
	background: url(../images/icon-eye-closed.svg) no-repeat center center;
	position: absolute;
	right: 0.7rem;
	top: 50%;
	margin-top: -2rem;
	z-index: 2;
	cursor: pointer;
	display: none;
}

.field-input input:focus ~ toggle-input-type,
.field-input:not(.empty) toggle-input-type {
	display: block;
}

.field-input toggle-input-type.open {
	background: url(../images/icon-eye-opened.svg) no-repeat center center;
}

.field-input error,
.field-input.error-required placeholder,
.field-input.error-email placeholder,
.field-input.error-invalid placeholder,
.field-input.error-match placeholder,
.field-input.error-minlength placeholder {
	display: none;
}

.field-input.error-required error.error-required,
.field-input.error-email error.error-email,
.field-input.error-invalid error.error-invalid,
.field-input.error-match error.error-match,
.field-input.error-minlength error.error-minlength {
	display: block;
}

.field-input.error-minlength error:not(.error-minlength) {
	display: none !important;
}

.field-input.error {
	border-color: #F44A4A;
	background-color: rgba(244, 74, 74, 0.1);
}