#help-dialog {
  width: 80%;
  max-width: 720px;
  margin-left: -350px;
  margin-top: -150px;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

@media (max-width: 960px) {
  #help-dialog {
    margin-left: 0px;
    left: 10%;
  }
}

#help-dialog close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
}

#help-dialog close * {
  pointer-events: none;
}

#help-dialog h3 {
  margin-bottom: 6rem;
}

#help-dialog columns {
  display: flex;
  justify-content: space-between;
}

#help-dialog column {
  width: 30%;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

@media (max-width: 640px) {
  #help-dialog columns {
    flex-direction: column;
  }

  #help-dialog column {
    width: 100%;
  }

  #help-dialog column img {
    display: none;
  }

  #help-dialog column + column {
    margin-top: 1rem;
  }
}

@media all and (max-height: 600px) {
	#help-dialog {
		position: relative;
		margin-top: 3rem !important;
		margin-bottom: 3rem !important;
		margin-left: auto;
		margin-right: auto;
		left: 0 !important;
		top: 0 !important;
		width: 90%;
		/*max-width: 35rem;*/
		/*display: block;*/
		z-index: 101;
	}
}
