#list-page {
	padding-top: 5rem;
}

#list-page .panorama-list {
	max-width: 66rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10rem;
}

#list-page h1 {
	font-size: 3.6rem;
	line-height: 4rem;
	text-align: center;
	max-width: 66rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5.5rem;
}

@media all and (max-width: 1024px) {
	#list-page h1 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}