.map-placeholder-wrapper {
	height: 250px;
	/*height: 28vh;*/
	background-color: #f9f9f9;
	position: relative;
	margin-top: 10px;
}

@media all and (max-height: 700px) {
	.map-placeholder-wrapper {
		height: 150px;
	}
}

map {
	display: block;
	height: 100%;
}

map-style-switch {
	position: absolute;
	left: 1rem;
	top: 1rem;
	display: block;
}

map-style {
	border: solid #cdcdcd 1px;
	background-color: #ffffff;
	line-height: 2rem;
	padding: 0 2rem;
	display: none;
	cursor: pointer;
	border-radius: 2rem;
	font-size: 1.2rem;
}

map-style-switch[value="map"] map-style[type="satellite"],
map-style-switch[value="satellite"] map-style[type="map"] {
	display: block;
}

.leaflet-popup-close-button {
	display: none !important;
}

.leaflet-popup-content {
	margin: 6px 10px !important;
}

.leaflet-popup-tip-container {
	height: 12px !important;
}

.leaflet-popup-tip {
	width: 13px !important;
	height: 13px !important;
}