.panorama-navigation {
	display: block;
	/*align-items: flex-end;*/
	/*justify-content: space-between;*/
	position: absolute;
	left: 2rem;
	top: 2rem;
	width: 310px;
	box-sizing: border-box;
	z-index: 1;
}

@media all and (max-width: 1024px) {
	.panorama-navigation {
		position: static;
		width: auto;
	}
}

.panorama-navigation .group-wrapper {
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
	background-color: #ffffff;
	border-radius: 2px;
}

@media all and (max-width: 1024px) {
	.panorama-navigation .group-wrapper {
		position: fixed;
		bottom: 0;
		top: 0;
		width: 500px;
		box-sizing: border-box;
		z-index: 2;
		border-radius: 0;
		box-shadow: 0 0px 120px 0 rgba(0,0,0,0.0);
		transition: all 0.3s;
	}

	.panorama-navigation .group-wrapper.active {
		transform: translateX(0%) !important;
		z-index: 3;
	}

	.panorama-navigation .group-wrapper.first {
		left: 0;
		width: 80%;
		max-width: 320px;
		min-width: 260px;
		transform: translateX(-100%);
		box-shadow: 0 0px 120px 0 rgba(0,0,0,0.8);
	}

	.panorama-navigation .group-wrapper.second {
		right: 0;
		transform: translateX(100%);
		box-shadow: 0 0px 120px 0 rgba(0,0,0,0.8);
		width: 80%;
		max-width: 500px;
		min-width: 260px;
	}

	.panorama-navigation .group-wrapper toggle-self,
	.panorama-navigation .group-wrapper .toggle-self {
		width: 40px;
		height: 40px;
		background-color: rgba(0,0,0,0.3);
		display: block;
		padding-top: 10px;
		text-align: center;
		position: absolute;
		top: 10px;
		border-radius: 50%;
		box-sizing: border-box;
		cursor: pointer;
	}

	.panorama-navigation .group-wrapper.first toggle-self,
	.panorama-navigation .group-wrapper.first .toggle-self {
		right: -50px;
	}

	.panorama-navigation .group-wrapper.first toggle-self:before,
	.panorama-navigation .group-wrapper.first .toggle-self:before {
		content: " ";
		width: 20px;
		height: 20px;
		background: url(../images/icon-info.svg) no-repeat center center;
		display: block;
		margin: 0 auto;
	}

	.panorama-navigation .group-wrapper.second toggle-self,
	.panorama-navigation .group-wrapper.second .toggle-self {
		left: -50px;
	}

	.panorama-navigation .group-wrapper.second toggle-self:before,
	.panorama-navigation .group-wrapper.second .toggle-self:before {
		content: " ";
		width: 20px;
		height: 20px;
		background: url(../images/icon-pin.svg) no-repeat center center;
		display: block;
		margin: 0 auto;
	}

	close-drawer {
		display: none;
		width: 100%;
		z-index: 1;
		background-color: rgba(0,0,0,0.05);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		box-sizing: border-box;
		position: fixed;
		cursor: pointer;
	}

	body.drawer-over close-drawer {
		display: block;
	}


}

@media all and (max-width: 768px) {
	.panorama-navigation .group-wrapper.second {
		max-width: 400px;
	}
}


@media all and (max-width: 640px) {
	.panorama-navigation .group-wrapper.first {
		max-width: 300px;
	}
	.panorama-navigation .group-wrapper.second {
		max-width: 300px;
	}
}

@media all and (max-width: 420px) {
	body.drawer-over .group-wrapper:not(.active) toggle-self,
	body.drawer-over .group-wrapper:not(.active) .toggle-self {
		display: none;
	}
}

@media all and (max-width: 330px) {
	.panorama-navigation .group-wrapper.first {
		right: 60px;
		width: auto;
		max-width: none;
	}

	.panorama-navigation .group-wrapper.second {
		width: auto;
		max-width: none;
		left: 60px;
	}
}



.panorama-navigation user {
	display: block;
	width: 100%;
	overflow: hidden;
	/*background-color: #ffffff;*/
	border-bottom: solid #f0f0f0 1px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.panorama-navigation user > * {
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*box-sizing: border-box;*/
	float: left;
	height: 50px;
}

.panorama-navigation user .action {
	background-color: #d8d8d8;
	font-size: 1.2rem;
	text-align: center;
	vertical-align: middle;
	padding-top: 8px;
	box-sizing: border-box;
	width: 25%;
	color: #000000;
	border-top-left-radius: 2px;
}

.panorama-navigation user .action.exit {
	padding-top: 17px;
}

.panorama-navigation user .action img {
	display: block;
	margin: 0 auto;
}

.panorama-navigation user h3 {
	width: 75%;
	box-sizing: border-box;
	text-align: center;
	font-size: 1.3rem;
	padding-left: 1.125rem;
	padding-right: 1.125rem;
	padding-top: 17px;
	padding-bottom: 17px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.panorama-navigation user h3 a {
	color: #4a4a4a;
}

.panorama-navigation .panorama-order-details {
	overflow: hidden;
	width: 100%;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top: solid #f0f0f0 1px;
}

@media all and (max-width: 1024px) {
	.panorama-navigation .panorama-order-details {
		position: absolute;
		bottom: 0;
		background-color: #ffffff;
		overflow: visible;
	}
}

.panorama-navigation .panorama-order-details > * {
	width: 38%;
	float: left;
	margin: 0;
	box-sizing: border-box;
	padding: 20px 0 20px 20px;
}

.panorama-navigation .panorama-order-details .label {
	font-size: 1.1rem;
	line-height: 1.2rem;
	display: block;
}

.panorama-navigation .panorama-order-details paid,
.panorama-navigation .panorama-order-details due {
	font-size: 1.8rem;
	line-height: 2rem;
	display: block;
}

.panorama-navigation .panorama-order-details paid:after,
.panorama-navigation .panorama-order-details due:after {
	content: "₽";
	font-family: "PT Sans";
	font-weight: 300;
	margin-left: 0.25rem;
	opacity: 0.8;
}

.panorama-navigation .panorama-order-details p:last-child {
	margin: 0;
	box-sizing: border-box;
	padding: 22px 20px 20px 20px;
	width: 66px;
	float: right;
}

@media all and (max-width: 1024px) {
	.panorama-navigation .panorama-order-details p:last-child {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.panorama-navigation .panorama-order-details p:last-child a {
	display: block;
}

.panorama-navigation .panorama-order-details [toggle-tooltip] {
	color: #FF7300;
	white-space: nowrap;
	text-decoration: none;
}

.panorama-order-details *[tooltip] {
	position: absolute;
	background-color: #F2903F;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 2.5rem 3rem;
	color: #ffffff;
	transform: translateY(-100%) translateX(-55%);
	margin-top: -20px;
	white-space: nowrap;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
	z-index: 2;
}

.panorama-order-details *[tooltip]:after {
	content: " ";
	position: absolute;
	left: 50%;
	bottom: -14px;
	border: solid #F2903F 15px;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	width: 0px;
	height: 0px;
}

@media all and (max-width: 480px) {
	.panorama-order-details *[tooltip] {
/*		font-size: 1.1rem;
		line-height: 1.75rem;
	    width: 223px;*/
		padding: 2rem 4rem;
		transform: translateY(-100%) translateX(-100%);
		margin-left: 33.5px;
		/*width: 260px;*/
		box-sizing: border-box;
	}

	.panorama-order-details *[tooltip]:after {
		content: none;
	}
}

@media all and (max-width: 375px) {
	.panorama-order-details *[tooltip] {
		font-size: 1.2rem;
		line-height: 1.75rem;
	}
}


/*.panorama-navigation .panorama-list {
	border-bottom: solid #f0f0f0 1px;
}*/



.panorama-navigation .panorama-list li a,
.panorama-navigation .panorama-list li {
	padding: 15px 10px 10px 20px;
	background-color: transparent;
	/*cursor: text;*/
}

.panorama-navigation .panorama-list li {
	background-color: white;
}

@media all and (max-width: 1024px) {
	.panorama-navigation .panorama-list {
		position: absolute;
		left: 0;
		top: 51px;
		bottom: 73px;
		background-color: transparent;
	}

	.panorama-navigation .panorama-list li {
		height: 100%;
		box-sizing: border-box;
		background-color: transparent;
	}

}

.panorama-navigation .panorama-list li h3 {
	/*overflow: hidden;*/
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	/*max-height: 48px;*/
	/*display: -webkit-box;*/
	/*-webkit-line-clamp: 2;*/
	/*-webkit-box-orient: vertical;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
}

.panorama-navigation .panorama-list li p {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.panorama-navigation .panorama-list .scrollable {
	max-height: 81px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

@media all and (max-width: 1024px) {
	.panorama-navigation .panorama-list .scrollable {
		max-height: none;
/*		position: absolute;
		bottom: 10px;
		top: 75px;
		left: 20px;
		right: 20px;*/
	}
}


.scrollable::-webkit-scrollbar {
    width: 7px;
    /*margin-top: 5rem;*/
}

.scrollable::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*background: rgba(4, 50, 85, 0.95);*/
}

.scrollable::-webkit-scrollbar-track {
	/*margin-top: 6.5rem;*/
	/*margin-bottom: 0.5rem;*/
	background: rgba(0,0,0,0.05);
}

.scrollable::-webkit-scrollbar {
	/*margin-top: 6.5rem;*/
	/*margin-bottom: 0.5rem;*/
}

.scrollable::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.scrollable::-webkit-scrollbar-thumb:window-inactive {
	/*background: rgba(4, 50, 85, 0.95);*/
}


.panorama-navigation .panorama-list li .selection .icon,
.panorama-navigation .panorama-list li .selection icon {
	height: 1.8rem;
	width: 3.0rem;
	display: inline-block;
}

.panorama-navigation .panorama-list li .selection icon * {
	display: block;
	margin: 0 auto;
	height: 100%;
}

.panorama-navigation .panorama-list li .selection {
	margin-left: 0;
}

.panorama-navigation .panorama-list date {
	width: 120px;
	display: inline-block;
}

.panorama-navigation .map-placeholder-wrapper {
	background-color: transparent;
}

.panorama-navigation map,
.panorama-navigation ymaps {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}


panorama-info {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 13.8rem;*/
	/*right: 13.8rem;*/
	/*background-color: #969696;*/
	/*max-width: 66rem;*/
	/*border: solid rgba(150, 150, 150, 0.4) 2px;*/
	/*border-top: none;*/
	/*z-index: 3;*/
	/*color: #ffffff;*/
	/*display: flex;*/
	/*justify-content: space-between;*/
	padding: 0.5rem;
	/*align-items: center;*/
	box-sizing: border-box;
	font-size: 1.4rem;
	/*line-height: 1.5rem;*/
	background-color: #ffffff;
	display: block;
	line-height: 3rem;
	text-align: center;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

@media all and (max-width: 1024px) {
	.panorama-navigation panorama-info {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.panorama-navigation .map-placeholder-wrapper {
		margin-top: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 88px;
		height: auto;
	}
}

panorama-info .button {
	color: #ffffff;
	border-color: transparent;
	background-color: #5ACC3A;
	font-size: 1.2rem;
	line-height: 1.6rem;
	width: 100%;
	box-sizing: border-box;
	display: block;
	margin-top: 0.5rem;
}

panorama-info[ordered] .button {
	background-color: #8c8c8c;
}

panorama-info .button:hover {
	border-color: transparent;
}

panorama-info number {
	font-size: 2.4rem;
	margin: 0 1rem;
	/*font-family: "PT Sans"*/
}

panorama-info number:before {
	content: "#";
}

panorama-info[ordered] {
	/*background-color: #81C86D;*/
	/*color: #5ACC3A;*/
}

panorama-info *[toggle-order]:after {
	content: attr(not-ordered);
	vertical-align: top;
}

panorama-info *[toggle-order]:before {
	content: " ";
	display: inline-block;
	vertical-align: top;
	margin-right: 0.625rem;
	width: 1.6rem;
	height: 1.6rem;
	background: url(../images/icon-plus-2.svg) no-repeat center center;
	/*background-size: contain;*/
}

panorama-info[ordered] *[toggle-order]:after {
	content: attr(ordered);
}

panorama-info[ordered] *[toggle-order]:before {
	background: url(../images/icon-minus-2.svg) no-repeat center center;
}

panorama-info status:after {
	content: attr(not-ordered);
}

panorama-info[ordered] status:after {
	content: attr(ordered);
}
