.panorama-placeholder-wrapper {
	background-color: #ffffff;
	/*position: relative;*/
	height: 100%;
	z-index: 0;
}

panorama {
	display: block;
	color: #ffffff;
	height: 100%;
	/*height: 500px;*/
	/*height: 75vh;*/
	background-color: #f9f9f9;
}

zoom-in,
zoom-out {
	display: block;
	position: absolute;
	right: 2rem;
	background-color: #ffffff;
	cursor: pointer;
	border: solid #DADADA 1px;
	width: 4rem;
	text-align: center;
	height: 5rem;
	box-sizing: border-box;
	z-index: 2;
}

zoom-in {
	bottom: 50%;
	padding-top: 1.4rem;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	margin-bottom: -1px;
}

zoom-out {
	top: 50%;
	padding-top: 1.2rem;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

@media all and (max-width: 1024px) {
	zoom {
		display: none;
	}
}

fullscreen {
	display: block;
	position: absolute;
	right: 2rem;
	top: 2rem;
	cursor: pointer;
	width: 5rem;
	height: 5rem;
	background-color: #ffffff;
	border-radius: 50%;
	border: solid #dadada 1px;
	z-index: 2;
}

fullscreen svg,
fullscreen img {
	display: block;
	position: absolute;
	width: 2.2rem;
	height: 2.2rem;
	left: 1.4rem;
	top: 1.4rem;
}

/*body.fullscreen {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

body.fullscreen .panorama-placeholder-wrapper.fullscreen,
body.fullscreen panorama.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	bottom: 0;
	right: 0;
	z-index: 1;
}*/

/*panorama.fullscreen {
	width: 100%;
	height: 100%;
	min-height: 640px;
	min-width: 800px;
}*/


.panorama-placeholder-wrapper panorama-info {
	position: absolute;
	left: 370px;
	top: 2rem;
	right: 8rem;
	color: #ffffff;
	font-size: 4.8rem;
	line-height: 5rem;
	display: block;
	background-color: transparent;
	/*transform: translateX(-50%) translateY(-50%);*/
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

@media all and (max-height: 420px) {
	.panorama-placeholder-wrapper panorama-info {
		top: 0;
	}
}

.panorama-placeholder-wrapper panorama-info * {
	font-size: 4.8rem;
	line-height: 5rem;
}

.panorama-placeholder-wrapper panorama-info number:before {
	font-size: 4.5rem;
	font-family: "Open Sans";
	font-weight: 300;
}

.panorama-placeholder-wrapper panorama-info[ordered] {
	display: none;
}

.panorama-placeholder-wrapper panorama-info a[toggle-order] {
	display: inline-block;
	margin-top: 2rem;
}

.panorama-placeholder-wrapper panorama-info a[toggle-order] img {
	display: block;
}

.panorama-placeholder-wrapper panorama-info a[toggle-order]:before,
.panorama-placeholder-wrapper panorama-info a[toggle-order]:after {
	content: none;
}

.panorama-placeholder-wrapper .order-change-true {
	position: absolute;
	left: 370px;
	top: 146px;
	right: 8rem;
	color: #ffffff;
	font-size: 4.8rem;
	line-height: 5rem;
	display: block;
	text-align: center;
	background-color: transparent;
	/*transform: translateX(-50%) translateY(-50%);*/
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.panorama-placeholder-wrapper .order-change-true.add {
	opacity: 1;
	transition: opacity 0.1s ease-in;
}

.panorama-placeholder-wrapper .order-change-true.remove {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

/*.panorama-placeholder-wrapper .order-change-true:after {
	content: "добавлено в заказ";
	font-size: 80%;
}*/

@media all and (max-width: 1024px) {
	.panorama-placeholder-wrapper panorama-info,
	.panorama-placeholder-wrapper .order-change-true {
		left: 0;
		width: 100%;
		min-width: 320px;
	}

	.panorama-placeholder-wrapper panorama-info,
	.panorama-placeholder-wrapper panorama-info *,
	.panorama-placeholder-wrapper panorama-info number:before,
	.panorama-placeholder-wrapper .order-change-true {
		font-size: 3rem;
		line-height: 4rem;
	}
}

@media all and (max-width: 640px) {
	.panorama-placeholder-wrapper panorama-info,
	.panorama-placeholder-wrapper panorama-info *,
	.panorama-placeholder-wrapper panorama-info number:before,
	.panorama-placeholder-wrapper .order-change-true {
		font-size: 2rem;
		line-height: 3rem;
	}
}
