.panorama-list-dropdown {
	position: relative;
	width: 100%;
}

.panorama-list-dropdown .panorama-list li {
	margin: 0;
}

.panorama-list-dropdown li:not(.active) {
	display: none;
}

.panorama-list-dropdown .panorama-list {
	max-width: 66rem;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

@media all and (min-width: 1400px) {
	.panorama-list-dropdown .panorama-list {
		max-width: 90rem;
	}
}

.panorama-list-dropdown .panorama-list.active li:not(.active) {
	display: block;
}

.panorama-list-dropdown .panorama-list.active {
	top: 0;
	bottom: auto;
	transform: translateY(-142px) translateX(-50%);
}

.panorama-list-dropdown .panorama-list.active li.active a {
	background-color: #f9f9f9;
}

.panorama-list-dropdown .panorama-list li > a {
	background-color: #ffffff;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-right: 9rem;
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.panorama-list-dropdown .panorama-list li.active > a {
	background-color: #ffffff;
	color: #4a4a4a;
	cursor: default;
}

.panorama-list-dropdown .panorama-list li.active > a * {
	color: #4a4a4a;
	border-color: #b7b7b7;
	fill: #b7b7b7;
}

.panorama-list-dropdown .panorama-list li.active .date,
.panorama-list-dropdown .panorama-list li.active .date *,
.panorama-list-dropdown .panorama-list li.active .selection,
.panorama-list-dropdown .panorama-list li.active .selection *,
.panorama-list-dropdown .panorama-list li.active status {
	color: #b7b7b7;
}

.panorama-list-dropdown .panorama-list {
	border: solid rgba(150, 150, 150, 0.4) 2px;
	border-bottom: none;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}

.panorama-list-dropdown dropdown-arrow {
	position: absolute;
	right: 50%;
	margin-right: -300px;
	bottom: 5rem;
	z-index: 1;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	background: url(../images/icon-down.svg) no-repeat center center;
}

.panorama-list-dropdown dropdown-arrow.active {
	background: url(../images/icon-top.svg) no-repeat center center;
}

.panorama-list-dropdown dropdown-arrow.white.active {
	background: url(../images/icon-top-white.svg) no-repeat center center;
}

@media all and (max-width: 960px) {
	.panorama-list-dropdown dropdown-arrow {
		margin-right: 0;
		right: 2rem;
	}
}

@media all and (min-width: 1400px) {
	.panorama-list-dropdown dropdown-arrow {
		margin-right: 0;
		right: 6rem;
	}
}
