
.panorama-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.panorama-list li a {
	display: block;
	color: #4a4a4a;
	text-decoration: none;
	background-color: #f9f9f9;
	padding: 2rem 4rem;
	box-sizing: border-box;
	min-height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.panorama-list li {
	margin-bottom: 3rem;
}

.panorama-list li:last-child {
	margin-bottom: 0;
}

.panorama-list li p {
	margin: 1rem 0;
	white-space: nowrap;
}

.panorama-list li p:last-child {
	margin-bottom: 0;
}

.panorama-list h3 {
	font-size: 2rem;
	line-height: 2.4rem;
	max-width: 40rem;
}

.panorama-list status {
	display: inline-block;
	font-size: 1.1rem;
	height: 1.5rem;
	line-height: 1.6rem;
	border: solid #B7B7B7 1px;
	border-radius: 2rem;
	color: #B7B7B7;
	padding: 0 1rem;
}

.panorama-list h3 status {
	position: relative;
	top: -1px;
	margin-left: 1rem;
}

.panorama-list .date,
.panorama-list .selection {
	color: #8C8C8C;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin-bottom: 0;
}

.panorama-list .date .icon,
.panorama-list .selection .icon,
.panorama-list .date icon,
.panorama-list .selection icon {
	margin-right: 0.4rem;
}

.panorama-list .date {
	width: 200px;
}

.panorama-list .selection {
	margin-left: 1.5rem;
}


#list-page .panorama-list li[disabled] > a {
	background-color: transparent;
	color: #ccc;
	cursor: text;
}

#list-page .panorama-list li[disabled] status,
#list-page .panorama-list li[disabled] .date,
#list-page .panorama-list li[disabled] .selection,
#list-page .panorama-list li[disabled] svg * {
	color: #ccc;
	fill: #ccc;
}

#list-page .panorama-list li[disabled] img {
	opacity: 0.5;
}

#list-page .panorama-list li[disabled] status {
	border-color: #e5e5e5;
}

#list-page .panorama-list li:not([disabled]):hover > a {
	background-color: #5ACC3A;
	color: #ffffff;
}

#list-page .panorama-list li:not([disabled]):hover * {
	border-color: rgba(255, 255, 255, 0.5);
	color: #ffffff;
	fill: #ffffff;
}

#list-page .panorama-list li:not([disabled]):hover .date,
#list-page .panorama-list li:not([disabled]):hover .selection {
	color: rgba(255,255,255,0.8);
}

.panorama-list quantity {
	font-weight: 500;
}

@media all and (max-width: 960px) {
	.panorama-list .selection {
		/*margin: 0;*/
		/*display: block;*/
	}
}
