.site-header {
	height: 5.5rem;
	padding-top: 5rem;
	padding-bottom: 4.5rem;
	background-color: #ffffff;
}

.site-header h1 {
	font-size: 2.4rem;
	line-height: 2.4rem;
	display: table-cell;
	vertical-align: middle;
}

.site-header user {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.site-header user h3 {
	font-size: 1.4rem;
	display: inline-block;
	margin-right: 3rem;
}


.site-header .site-logo {
	display: table-cell;
	vertical-align: middle;
	width: 18.5rem;
}

@media all and (max-width: 1024px) {
	.site-header {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.site-header user h3 {
		margin-right: 0;
		margin-bottom: 1rem;
		display: block;
	}

	.site-header user .button {
		padding: 0.5rem 1rem;
	}

	.site-header .site-logo {
		width: 12rem;
	}

	.site-header .site-logo img {
		height: 4rem;
	}

	.site-header h1 {
		/*font-size: 1.6rem;*/
		display: none;
	}
}