.site-footer {
	background-color: #f9f9f9;
	padding-top: 7rem;
	padding-bottom: 9rem;
}
.site-footer .column:first-of-type {
	width: 30%;
	padding-right: 5%;
}

.site-footer .copyrights,
.site-footer .copyrights a {
	color: #aaaaaa;
}

.site-footer .feedback a {
	color: #FF7300;
}

.site-footer a {
	text-decoration: none;
	color: #4a4a4a;
}

@media all and (max-width: 1024px) {
	.site-footer {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.site-footer .column:first-of-type {
		width: 50%;
		box-sizing: border-box;
	}
}